<div class="mt-8 flex flex-wrap gap-3">

    <button class="rounded-full border px-5 py-2 hover:bg-indigo-600 hover:text-white">
        .NET
    </button>

    <button class="rounded-full border px-5 py-2 hover:bg-indigo-600 hover:text-white">
        Angular
    </button>

    <button class="rounded-full border px-5 py-2 hover:bg-indigo-600 hover:text-white">
        React
    </button>

    <button class="rounded-full border px-5 py-2 hover:bg-indigo-600 hover:text-white">
        Remote
    </button>

    <button class="rounded-full border px-5 py-2 hover:bg-indigo-600 hover:text-white">
        Hybrid
    </button>

    <button class="rounded-full border px-5 py-2 hover:bg-indigo-600 hover:text-white">
        Free Lunch
    </button>

</div>