<div class="-mt-8 mx-auto max-w-4xl rounded-2xl bg-white p-6 shadow-lg">

    <input
        type="text"
        placeholder="Search companies..."
        class="w-full rounded-xl border px-5 py-4 outline-none focus:border-indigo-500">
</div>
<div class="mt-8 grid grid-cols-2 gap-4 md:grid-cols-4">

    <div class="rounded-xl border p-5 text-center">
        <h2 class="text-3xl font-bold text-indigo-600">
            {{ companies().length }}
        </h2>
        <p class="mt-2 text-gray-500">
            Companies
        </p>
    </div>

    <div class="rounded-xl border p-5 text-center">
        <h2 class="text-3xl font-bold text-indigo-600">
            25+
        </h2>
        <p class="mt-2 text-gray-500">
            Technologies
        </p>
    </div>

    <div class="rounded-xl border p-5 text-center">
        <h2 class="text-3xl font-bold text-indigo-600">
            15+
        </h2>
        <p class="mt-2 text-gray-500">
            Cities
        </p>
    </div>

    <div class="rounded-xl border p-5 text-center">
        <h2 class="text-3xl font-bold text-indigo-600">
            100%
        </h2>
        <p class="mt-2 text-gray-500">
            Community Driven
        </p>
    </div>

</div>